/* ====================================================
spacescraper :: Scraping news from space with Mongo!
MVC with Handlebars, Node, Express, MongoDB, Mongoose, Axios, and Cheerio.
©2018 Richard Trevillian
University of Richmond (Virginia)
Full Stack Developer Bootcamp (July 2018)
====================================================
public/styles.css
==================================================== */

/* .list-group-item {
  line-height: 2.5;
} */

@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:200,200i,400,600");

body {
  font-family: "Barlow Condensed", sans-serif;
  height: 110vh;
  background-color: rgb(24, 45, 80);
}

.navbar {
  background-color: rgb(83, 128, 167);
}

.nav-logo {
  width: 200px;
}

#users-name {
  color: #fff;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: rgb(83, 128, 167);
}

.credits {
  float: right;
  color: rgb(189, 214, 235);
  font-weight: 100;
}

.credits a {
  color: rgb(222, 231, 238);
  font-weight: 400;
}

.article-image {
  width: 100%;
}

.card-columns {
  margin-top: 65px;
  margin-bottom: 40px;
}

.card {
  border: none;
}

.card-title {
  font-weight: 600;
  font-size: 2rem;
  color: #444;
}

.byline {
  font-weight: 600;
  font-size: 1rem;
  color: #444;
}

.byline a {
  font-weight: 400;
  font-size: 1.05rem;
  color: rgb(49, 123, 201);
}

.article-excerpt {
  font-weight: 200;
  font-size: 1.2rem;
  color: #666;
}

.leave-comment {
  font-weight: 600;
  font-size: 1rem;
  color: rgb(155, 30, 30);
}

.delete-comment {
  margin-right: 5px;
  font-size: 0.9rem;
  color: rgb(201, 157, 157);
}

.commenting-user {
  font-weight: 200;
  font-size: 0.9rem;
  color: rgb(148, 164, 194);
}

.users-comment {
  font-weight: 400;
  font-size: 0.9rem;
  color: rgb(67, 90, 136);
}

/* MODAL BOX STYLES ABOVE */
/* =================================== */
/* MEDIA QUERIES FOR BREAKPOINTS BELOW */
/* =================================== */

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */
@media (max-width: 576px) {
  .nav-logo {
    width: 200px;
    margin: 10px auto;
  }

  .card-columns {
    column-count: 1;
  }
}

/* =================================== */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .nav-logo {
    width: 180px;
  }

  .card-columns {
    column-count: 1;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .nav-logo {
    width: 230px;
  }

  .card-columns {
    column-count: 2;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .card-columns {
    column-count: 3;
  }
}

/* MXL full screen (large monitors, 1400px and up) */
@media (min-width: 1400px) {
  .card-columns {
    column-count: 4;
  }
}

/* XXL full screen (large monitors, 1800px and up) */
@media (min-width: 1800px) {
  .card-columns {
    column-count: 5;
  }
}

/* MEDIA QUERIES FOR BREAKPOINTS ABOVE */
/* =================================== */
